/* Navigation Section */
#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* Home Section */
#home {
    height: 270px;
    padding: 3px 6px;
}

#home::before {
    height: 780px;
}

#home p {
    font-size: 12px;
}


/* Product Section */
#products {
    flex-direction: column;
}

/* Clients Section */

#clients img {
    width: 55px;
    padding: 2px 6px;
    height: auto;
}

/* Contact Us Section */
#contact-box form {
    width: 80%;
    color: white;
}

/* Footer Section */

body {
    background-color: rgb(0, 0, 0);
}

/* Utility Classes */
.h-primary {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

html {
    scroll-behavior: smooth;
}