/* BODY */

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

html{
    scroll-behavior: smooth;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    position: sticky;
}


/*Navigation Bar: Logo And Image */
#logo {
    margin: 2px 4px;
}


/* Navigation Bar: List Styling */

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;

}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.5rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: rgb(0, 0, 0);
    background-color: white;

}

/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 679px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url(img/background.jpg) no-repeat center center/cover;
    background-size: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 879px;
    width: 100%;
    z-index: -1;
    opacity: 0.69;
}

#home h1 {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 2px 2px 6px rgb(153, 33, 209);
}

#home p {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 2px 2px rgb(255, 0, 212);
    font-family: 'Oswald', sans-serif;
}

/* Client Section */
#client-section {
    height: 344px;
    position: relative;
}

#clients {
    display: flex;
    align-items: center;
    justify-content: center;

}

#client-section::before {
    content: "";
    position: absolute;
    background: url(img/bg12.jpg);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

.client-item {
    padding: 37px;
}

#clients img {
    height: 124px;

}

/* Contact Section */
#contact {
    position: relative;
    color: white;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: url(img/bg2.jpg) no-repeat center center/cover;
}

#contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
}

footer {
    background-color: black;
    color: white;
    padding: 9px 20px;

}

/* Utility Class */
.h-primary {
    font-size: 3rem;
    padding: 12px;
    color: rgb(255, 255, 255)
}

.h-secondary {
    font-size: 2rem;
    padding: 1px;
}

.btn {
    padding: 6px 20px;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(83, 24, 24);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 12px;
    cursor: pointer;
}

.center {
    text-align: center;
}

/* Product Section */

#products {
    margin: 34px;
    display: flex;
}

#products .box {
    border: 2px solid rgb(238, 70, 70);
    padding: 34px;
    background-color: rgb(195, 185, 245);
    border-radius: 27px;
    margin: 2px 6px;

}

#products .box img {
    height: 212px;
    margin: auto;
    display: block;
}

#products .box p {
    font-family: 'Lato', sans-serif;

}